<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.campuspo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        android:name="com.team.campuspo.app.CampusPoApplication">
        <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar"  -->
        
        
        <activity
            android:name="com.team.campuspo.activity.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.team.campuspo.activity.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.team.campuspo.activity.PosterActivity"
            android:parentActivityName="com.team.campuspo.activity.MainActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.team.campuspo.ui.MainActivity" />
        </activity>
    </application>

</manifest>
